# Clerk Authentication
CLERK_SECRET_KEY=          # Obtido em dashboard.clerk.com
CLERK_WEBHOOK_SECRET=      # Obtido ao criar webhook no Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y2xhc3NpYy1iYXNpbGlzay05NS5jbGVyay5hY2NvdW50cy5kZXYk
# Database
DATABASE_URL=              # Connection string do Neon PostgreSQL
DIRECT_URL=                # String directa para validações do Prisma (Opcional)

# AI Providers
ANTHROPIC_API_KEY=         # console.anthropic.com
OPENAI_API_KEY=            # platform.openai.com
GROQ_API_KEY=              # console.groq.com

# Rate Limiting
UPSTASH_REDIS_REST_URL=    # console.upstash.com
UPSTASH_REDIS_REST_TOKEN=

# Cron
CRON_SECRET=               # String aleatória para autenticar chamadas dos cron jobs
